<html>
{% load staticfiles %}
    <title>Bitmex Bot</title>
    <head>
        <link rel="icon" href="https://1.bp.blogspot.com/-3MiqCmm_Nhg/Wn1_B1cjrRI/AAAAAAAALvo/Q-0ZZehrtfYNqp77dHMyxBwPGjQOtmxlgCLcBGAs/s1600/favicon.png" type="image/png">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <style>
            .card {
              <!--box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);-->
              max-width: 80%;
              margin: auto;
              text-align: left;
        }
        </style>
        <!--<style>-->
    	<!--.loader {position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url('https://loading.io/assets/img/landing/curved-bars.svg') 50% 50% no-repeat rgb(249,249,249);opacity: .9;}-->
        <!--</style>-->
    </head>
<body >

    {% block content %}
    {% endblock %}

</body>
</html>